%div{:class => "#{@role} #{action_name} row"}
	.container
		%h1.col-md-12.title New Bank
		#main.col-md-9
			.authform
				= simple_form_for @bank do |f|
					.error_messages
						- if @bank.errors.any?
							#error_explanation
								.alert.alert-error
									- message = "The form contains "
									- message << pluralize(@bank.errors.count, "error")
									- message << "."
									= message 
									%ul
										- @bank.errors.full_messages.each do |msg|
											%li 
												= msg
					= f.input :name
					= f.hint 'No special characters, please!'
					= f.input :phone_number
					= f.input :greeting, label: 'Initial Greeting Message'
					= f.association :user, label_method: :email, include_blank: false
					= f.button :submit, class: 'button right'
