%div{:class => "#{@role} #{action_name} row"}
	.container
		%h1.col-md-12.title New Bank
		#main.col-md-9
			.authform
				= simple_form_for @account do |f|
					.error_messages
						- if @account.errors.any?
							#error_explanation
								.alert.alert-error
									- message = "The form contains "
									- message << pluralize(@account.errors.count, "error")
									- message << "."
									= message 
									%ul
										- @account.errors.full_messages.each do |msg|
											%li 
												= msg
					= f.input :name
					= f.hint 'No special characters, please!'
					= f.input :account_number
					= f.input :pin
					= f.input :verify
					= f.input :balance
					= f.input :currency, label: 'Please input the full currency name eg. Dollers for USD'
					= f.input :bank_id, collection: @bank, include_blank: false
					= f.button :submit, class: 'button right'
